<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class='dalle-icon' src="{{ `images/compact.png` | relURL }}" width="175" height="300" alt = "display of compact design">
        <h2 class="h2">Compact and Portable Design <small class="d-none">🛡️</small></h2>
        <p>Designed with mobility in mind, the dispenser is sleek, compact, and can be attached to a keyring, 
            clipped to a belt loop, or tucked into a purse. Never leave home without your favorite flavors again.</p>
    </div>
    <div class="col-lg-4">
        <img class='dalle-icon' src="{{ `images/modular.png` | relURL }}" width="175" height="300" alt = "display of modular design">
        <h2 class="h2">Modular Spice Cartridges <small class="d-none">🚀</small></h2>
        <p>Swap flavors as quickly as your cravings change with interchangeable spice cartridges. Designed for versatility, 
            these cartridges let you switch from savory to sweet or spicy in seconds, ensuring every meal is a gourmet experience.</p>
    </div>
    <div class="col-lg-4">
        <img class='dalle-icon' src="{{ `images/precision.png` | relURL }}" width="175" height="300" alt = "display of modular design">
        <h2 class="h2">Precision Dispensing <small class="d-none">📈</small></h2>
        <p>Control your culinary creations with precision dispensing, allowing you to add the exact amount of spice needed. Whether it’s a 
            pinch or a dash, achieve consistent flavoring with each use, perfect for the health-conscious and culinary perfectionists alike.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Durable and Safe Materials <small class="d-none">🦉</small></h2>
        <p>Crafted to withstand the elements, this spice dispenser is made from durable, weather-resistant materials, making it an essential 
            tool for outdoor adventurers and travel enthusiasts. It is also leak proof to ensure you never have to worry about spills.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Customizable Appearance <small class="d-none">✨</small></h2>
        <p>Express your style with customizable dispenser exteriors. Choose colors and patterns to match your gear or mood, making your spice 
            dispenser as unique as your culinary tastes. You can even choose the perfect labels.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Mobile App with Reccomendations <small class="d-none">🧰</small></h2>
        <p>Enhance your spicing skills with a connected mobile app. Track your usage, receive refill alerts, and discover new spices with 
            recommendations tailored to your taste preferences and past choices.</p>
    </div>
</div>
